/*通用*/
body {
    font: 16px "microsoft yahei", Arial, Helvetica, sans-serif;
    color:#666;
    margin:0px;
    padding:0px;

}
.content{
    overflow-y:auto;
    overflow-x:hidden;
    margin-bottom:84px;
    /*padding-top: 132px;*/
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}
input {
    border: 0;
    height: 52px;
    line-height: 52px;
    margin-left: 10px;
    outline: none;

}
.school input{
    height:13px;
}

.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}

a{
    text-decoration:none;
    color:#000;
}
/*当点击底部信息采集、报到须知、报到流程时背景色、字体颜色*/
.active{
    background-color: #00B47D;
    color:#fff;
}
.active a{
    color:#fff;
  }
/*当点击底部信息采集、报到须知、报到流程时背景色、字体颜色*/
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #00B47D;
    color:#fff;
 }
/************模态框**********/
/*确认提交按钮背景色*/
.btn-primary {
    color: #fff;
    background-color: #00B47D;
    border-color: #00B47D;
 }
/*取消按钮背景色*/
.btn-default {
    color: #fff;
    background-color: #959595;
    border-color: #ccc;
 }



